/* TYPOGRAPHY */

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
    --color-
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif ;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    margin: 1rem;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    /* 1rem = 1 * the font size of the html element */
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;

}

p {
    margin-top: 0;
}

/* general media query for body */
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* LINKS */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s; /* Arrow move to the right on hover in 15s*/
}

.link-arrow:hover::after {
    margin: 10px; /* Arrow moves to the right by 5px upon hover*/
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem; /* created a new/separate media query for link so that link styles are in the same place */
    }
}

/* BADGES */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: no-wrap; /* this is so the items inside the badge will not wrap or go to another space if the screen is small */
}

.badge--primary { /* This is BEM, this is the first "skin" */ 
    background: var(--color-primary);
    color: white;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color: #fff;

}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* LISTS */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* ICONS */
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary); /* fill only works for svg */
}

.icon-container {
    background: #f3f9fa;
    width: 64px; /* use px when sizing icons, mobile and web/desktop usually have the same size when it comes to icons, they don't change relative to the screen or font size */
    height: 64px; /* absoluute unit = px */
    border-radius: 100%; 
    /* oval container because spans are inline elements and as you know, width and height elemets have no effects on these, 
    what we will do is we will set the... */
    /* display: inline-block; the span is already round, but the icon is not in the center -- so we will use flex, replace inline block with inline-flex */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS -- These are mobile version */ 
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer; /* to make it clickable */
    font-size: 1.8rem; /* this size id for mobile */
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    text-align: center; /* always set buttons to center align */
    white-space: nowrap; /* so incase we have limited space, the text and button will not wrap to the second line */
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffd;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #00c8eb;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #ec3000;
}

.btn--block {
    width: 100%;
    display: inline-block; /* anchor elements are inline by default, if you give them a width, that's not gonna work*/
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover {
    background: var(--color-headings);
    color: #fff;
}

@media screen and (min-width: 1024px) {  /* desktop version @media query */
    .btn {
        font-size: 1.5rem;
    }
}

/* INPUTS */
.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-headings);
    font-size: 2rem;
    outline: 0; /* browser adds an outline-- remove it by setting the outline to 0 */
    padding: 1.5rem 3.5rem;
}

::placeholder {
    color: #cdcbd7;
}

@media screen and (min-width: 1024px) {  /* desktop version @media query */
    .input {
        font-size: 1.5rem;
    }
}

/* INPUT + BUTTON -- the button/icon is inside a div */ 
.input-group { /* this is a div */
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn {
    margin: 4px;
}

/* CARD */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; 
    /* 0 0-horizontal and vertical offset, 20 blurring the shadow and making it soft, spreading the shadow. the larger the value, the bigger the shadow */
    overflow: hidden;
}

.card__header, 
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}
.card--secondary .badge--secondary {
    background: #02cdf1;
}

/* CARD + BUTTON + BADGE + LIST = PLAN CARD COMPONENT */
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

@media screen and (min-width: 1024px) {  /* desktop version @media query */
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}

/* MEDIA */
.media {
    display: flex;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
}

/* QUOTES */

.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

.quote__organization {
    color: var(--color-headings);
    font-size: 2rem;
    opacity: .4;
    font-style: normal;
}

.quote__line {
    position: relative;
    bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__organization {
        font-size: 1.6rem;
    }
}