<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#snap"></use> <!-- copied from svgsprites.es bottom part, make sure to reference the link correctly "images/sprite.svg#wordpress" to succesfully load the image to the browser-->
        </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start and Managed Updates</h3>
      <p>Our cloud plans include asy onboarding for new and existing sites and managed WordPress and WooCommerce auto-updates.</p>
    </div>
  </div>